@font-face {
  font-family: "Awesome";
  src: url("../fonts/fontawesome-webfont.woff");
}

body {
  margin: 0 auto;
  max-width: 50em;
  font-family: "Helvetica";
  background-color: #e2e2e2;
}

.container {
  width: 835px;
  height: auto;
  top: 25px;
  margin: auto;
  position: relative;
  -webkit-box-shadow: 0px 0px 40px 0px rgba(185, 185, 185, 1);
  -moz-box-shadow:    0px 0px 40px 0px rgba(185, 185, 185, 1);
  box-shadow:         0px 0px 40px 0px rgba(185, 185, 185, 1);

  overflow: hidden;
}

.navbar {
  width: auto;
  display: block;
  padding-left: 25px;
  padding-right: 25px;
  padding-top: 8px;
  background: transparent;
  position: relative;
}

.navbar > .web {
  font-size: 9px;
  color: #A1A1A1;
  padding-left: 35px;
  padding-top: 5px;
  vertical-align: middle;
  display: inline;
  position: relative;
  z-index: 10;
}

.navbar:before {
    content:"";
    position: absolute;
    left: -23px;
    width: 90px;
    height: 50px;
    top: 0px;
    background-color: #121314;
    -webkit-transform: skew(-45deg);
    -moz-transform: skew(-45deg);
    -o-transform: skew(-45deg);
    -ms-transform: skew(-45deg);
    transform: skew(-45deg);
    z-index: 0;
}

.navbar:after {
    content:"";
    position: absolute;
    right: -18px;
    width: 825px;
    height: 50px;
    top: 0px;
    background-color: #121314;
    -webkit-transform: skew(45deg);
    -moz-transform: skew(45deg);
    -o-transform: skew(45deg);
    -ms-transform: skew(45deg);
    transform: skew(45deg);
    z-index: 0;
}

.brand-image {
  color: #ffffff;
  padding-left: 15px;
  padding-top: 2px;
  vertical-align: middle;
  font-size: 20px;
  font-weight: bold;
  display: inline;
  position: relative;
  z-index: 10;
}

.navigation {
  float: right;
  position: relative;
  display: inline;
  z-index: 10;
  font-size: 10px;
}

.navigation > a:hover, a:visited, a:link, a:active {
   text-decoration: none;
   color: #A1A1A1;
}

.navigation > ul {
  list-style-type: none;
  display: flex;
}

.navigation > ul > li {
  padding-left: 15px;
}

header {
  background-image: url("../images/1j_vfrmiohe-nathan-anderson.jpg");
  background-size: cover;
  background-position: center center;
  z-index: -99999;
}

.hero {
  height: 265px;
  width: 835px;
  top: 50px;
  display: table;
}

.hero-content {
  color: #ffffff;
  text-align: center;
  display: table-cell;
  vertical-align: middle;
}

.hero-content > p {
  padding: 0;
  margin: 0;
}

.hero-content > h1 {
    font-size: 43px;
    padding: 0;
    margin: 0;
}

.icon {
  font-family: "Awesome";
  color: #393b48;
}

.intro-content > .icon {
  font-size: 11px;
  position: relative;
  display: inline;
  float: right;
  padding-top: 6px;
}

.feature-content > .icon {
  font-size: 17px;
  position: relative;
  display: inline;
  padding: 5px 5px 5px 5px;
}

.intro {
  background-color: #EEE;
  padding: 20px 20px 20px 20px;
  text-align: center;
  position: relative;
  display: block;
}

.intro-content {
  display: inline-block;
  position: relative;
  width: 190px;
  padding: 0px 25px 0px 25px;
  text-align: left;
}

.intro-content > h5 {
  padding: 0;
  margin: 0;
  color: #393b48;
  display: inline;
  font-weight: bold;
}

.intro-content > p {
  font-size: 11px;
  color: #A1A1A1;
}

.feature-list {
  padding: 40px 20px 0px 0px;
  text-align: center;
  background: -webkit-linear-gradient(#ffffff, #ececec);
  background: -o-linear-gradient(#ffffff, #ececec);
  background: -moz-linear-gradient(#ffffff, #ececec);
  background: linear-gradient(#ffffff, #ececec);
  overflow: hidden;
}

.feature-list > img {
  width: 60%;
  height: auto;
  float: left;
}

.features {
  float: right;
  overflow: hidden;
}

.feature-content {
  text-align: left;
  display: block;
  width: 250px;
  height: auto;
  padding: 15px 25px 0px 5px;
}

.feature-content > h5 {
  position: relative;
  display: inline;
  color: #393b48;
  padding: 0;
  margin: 0;
}

.feature-content > p {
  font-size: 11px;
  color: #A1A1A1;
  display: block;
  padding: 8px;
  margin: 0;
}

.features > button {
  background-color: #00aed7;
  color: #ffffff;
  border: none;
  border-radius: 10px;
  padding: 3px 5px 3px 5px;
  font-size: 11px;
  float: right;
  margin-right: 60px;
  margin-top: 20px;
}

.footer {
  height: 30px;
  width: auto;
  font-size: 9px;
  position: relative;
  padding-top: 35px;
  display: block;
  color: #9E9E9E;
  font-weight: bold;
}

.footer > .copyright {
  position: relative;
  height: 15px;
  padding-left: 28px;
  padding-top: 10px;
  display: inline-block;
}

.footer > .support {
  float: right;
  height: 20px;
  display: flex;
  padding-top: 5px;
}

.support > span {
  padding-right:  5px;
  padding-top: 5px;
}

.support > img {
  padding-right: 5px;

}
