body {
  margin: 0 auto;
  max-width: 50em;
  background-color: #424242;
  font-family: "Arial", sans-serif;

}

h1 {
  color: #36d7ff;
  border-left: 1px solid #36d7ff;
  padding-left: 15px;
}

#render-target {
  background-color: #000000;
  border: 1px solid #00b4e0;
  top: 90px;
  left: 100px;
  position: fixed;
}

.statistics {
  top: 100px;
  right: 150px;
  position: fixed;
  color: #36d7ff;
  padding: 15px;
  height: 60px;
  width: 200px;
}

#game {
  top: 45%;
  left: 30%;
  position: fixed;
  color: rgba(191,13,58, 0.9);
  font-size: 72px;
  width: 100%;
}
