body {
  margin: 0 auto;
  max-width: 50em;
  font-family: "Arial";
}

th {
  width: 300px;
  text-align: left;
  border-bottom: 2px solid #B3B3B3;
  padding-top: 15px;
}

tr {
  margin: 15px;
}

h2 {
  margin-top: 20px;
}

.student {
  margin-top: 20px;
}
